.main-pic-img {
    width: 1350px;
    height: 589px;
    background-size: cover;
    background: url("main-pic.jpg");
}
.main-pic-title {
    padding-top: 100px;
    margin-top: 0;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    color: gold;
}
.main-pic-text {
    font-size: 30px;
    text-align: center;
    padding: 0 100px;
    color: yellow;
}
.AboutUs h2 {
    text-align: center;
}
.AboutUs p {
margin: 10px 40px;
text-align: center;
}
.natures {
    display: flex;
    flex-wrap: wrap;
}
.nature {
    width: 450px;
    margin-bottom: 80px;
}
.nature h3 {
    text-align: center;
}
.img-1 {
    margin-left: 80px;
    width: 284px;
    height: 177px;
    background: url("img-1.jpeg");
}
.img-2 {
    margin-left: 80px;
    width: 284px;
    height: 177px;
    background: url("img-2.jpg");
}
.img-3 {
    margin-left: 80px;
    width: 284px;
    height: 177px;
    background: url("img-3.jpg");
}